.alert-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal-content p {
    margin: 0;
  }

  .close-modal{
    padding: 10px 20px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #89b2fb;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
  }

  .close-modal:hover{
    transform: scale(1.1);
    background: #b6cbef;
  }
  